h1 { /*USE PARA INSERIR FORMATAÇÃO EM TODOS OS TEXTOS H1*/

    color: rgb(207, 115, 28);  /*INSERIR COR NA LETRA */
    font-size: 50px; /*AUMENTAR A FONTE EM PIXELS*/
    background-color: aqua; /*INSERIR FUNDO NA PALAVRA*/
    font-weight: 900; 
    font-family: Arial, Helvetica, sans-serif;/*INSERIR FONTE DE FORMATAÇÃO*/

}

h2 { /*USE PARA INSERIR FORMATAÇÃO EM TODOS OS TEXTOS H1*/

    color: rgb(236, 23, 154);  /*INSERIR COR NA LETRA */
    font-size: 50px; /*AUMENTAR A FONTE EM PIXELS*/
    background-color: aqua; /*INSERIR FUNDO NA PALAVRA*/
    font-weight: 900; 

}


.bg {
    background-image: url("https://img.freepik.com/vetores-premium/wallpaper-de-paisagem-em-design-plano_74890-34.jpg?w=2000"); 
    height: 200px;
    width: 100%;
    background-size: cover;
    


    }


